<div>
    <h3>Place Order</h3>
    <div><button class="btn btn-primary" data-bind="click: submitOrder">SubmitOrder</button> </div>
    <h4>Order Items:</h4>
    <ul data-bind="foreach: orderItems">
        <li data-bind="text: name"></li>
    </ul>
    <table class="table table-striped">
        <tbody data-bind="foreach: products">
            <tr>
                <td><img data-bind="imagePath: image" class="productImage"/></td>
                <td><span data-bind="text: name"></span><br /><span data-bind="text: description"></span></td>
                <td><button class="btn btn-primary" data-bind="click: $parent.addToOrder">Add to Order</button> </td>
            </tr>
        </tbody>
    </table> 
</div>
